<div align="center">
    <ul class="navbar-nav ml-auto">
      
      <li class="nav-item">
       <b>Name:</b><%= @u ser.name %><br/>
      </li>
      
      <li class="nav-item">
       <b>Email:</b><%= @user.email %><br/>
      </li>

      <li class="nav-item">
        <b>Birth_date:</b><%= @user.birth_date %><br/>
      </li>

      <li class="nav-item">
        <b>Birth_date:</b><%= @user.birth_date %><br/>
      </li>

      <li class="nav-item">
        <b>Mobile_no:</b><%= @user.phone_number %><br/>
      </li>
      
      <li class="nav-item">
        <%=link_to 'Back', users_path , class:'nav-link'%><br/>
      </li>

     </ul>
</div>